# -------------------------------------------
# {{ ansible_managed }}
# -------------------------------------------

{% for i in mysql_extra_configuration %}
[{{ i.group_name }}]
{% for c in i.conf %}
{% if c.value is defined %}
{{ c.key }} = {{ c.value }}
{% else %}
{{ c.key }}
{% endif %}
{% endfor %}

{% endfor %}

; vim: set ft=dosini :
