# ------------------------------------------
# {{ ansible_managed }}
# ------------------------------------------

[client]
user=root
{% if mysql_vendor == 'mariadb_galera' %}
password="{{ mysql_root_password }}"
{% else %}
password={{ mysql_root_password }}
{% endif %}
