#
# {{ ansible_managed }}
#

#
# Replication slave

[mysqld]
server_id={{ mariadb_server_id }}
{% if mariadb_slave_readonly %}
read-only
{% endif %}

# --> Ignore DB/tables
{% for db in mariadb_slave_ignore_db %}
replicate-ignore-db={{ db }}
{% endfor %}
{% for t in mariadb_slave_ignore_table %}
replicate-ignore-table={{ t }}
{% endfor %}
# <-- Ignore DB/tables

; vim: set ft=dosini :
