---

- name: APT_KEY | Install MariaDB key
  apt_key:
    keyserver: "{{ mariadb_key_server }}"
    id: "{{ item }}"
  with_items: "{{ mariadb_key_ids }}"

- name: TEMPLATE | Deploy APT pinning (prevent upgrades from Debian)
  template:
    src: etc/apt/preferences.d/95-mariadb.j2
    dest: /etc/apt/preferences.d/95-mariadb

- name: APT_REPOSITORY | Add MariaDB repository
  apt_repository:
    repo: 'deb {{ mariadb_repository }} {{ ansible_distribution_release }} main'

- name: APT_REPOSITORY | Add MariaDB (src) repository
  apt_repository:
    repo: 'deb-src {{ mariadb_repository }} {{ ansible_distribution_release }} main'
  when: mariadb_upstream_apt_src

- name: INCLUDE | Normal Install
  include: default.yml
